networks:
  network:
    driver: bridge

services:
  ui:
    networks:
      - network
    build: 
      context: ./ui
      dockerfile: Dockerfile
    container_name: ui
    ports:
      - "3000:3000"
    volumes:
      - ./ui:/usr/src/app/ui
      - /usr/src/app/ui/node_modules
    
  api:
    networks:
      - network
    build: 
      context: ./api
      dockerfile: Dockerfile
    container_name: api
    restart: always
    volumes:
      - ./api:/var/www/html/api
      - /var/www/html/api/vendor
    command: >
      sh -c "chown -R www-data:www-data /var/www/html/storage /var/www/html/bootstrap/cache && php-fpm"
  
  webserver:
    networks:
      - network
    image: nginx:alpine
    container_name: webserver
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./api:/var/www/html/api
      - ./infra/config/nginx/conf.d:/etc/nginx/conf.d
      - ./infra/config/nginx/error:/var/log/nginx
    